/* line 19, E:/FinalAss_2/Version_final/scss/sang.scss */
footer {
  background-color: #c3c3c3;
  padding: 25px; }
  /* line 22, E:/FinalAss_2/Version_final/scss/sang.scss */
  footer h4 {
    text-align: left;
    font-weight: bold; }
  /* line 26, E:/FinalAss_2/Version_final/scss/sang.scss */
  footer p {
    font-size: 12px;
    text-align: left; }
  /* line 30, E:/FinalAss_2/Version_final/scss/sang.scss */
  footer h2 {
    float: left;
    font-weight: bold; }

/* line 35, E:/FinalAss_2/Version_final/scss/sang.scss */
td {
  font-size: 12px;
  text-align: left;
  font-size: 12px; }

/* line 40, E:/FinalAss_2/Version_final/scss/sang.scss */
.navbar {
  margin-bottom: 0;
  border-radius: 0; }

/* line 45, E:/FinalAss_2/Version_final/scss/sang.scss */
.navbar-toggle {
  float: left; }

/* line 48, E:/FinalAss_2/Version_final/scss/sang.scss */
.navbar-right {
  color: white;
  padding-top: 15px; }
  /* line 51, E:/FinalAss_2/Version_final/scss/sang.scss */
  .navbar-right div {
    padding-right: 20px; }

/* line 55, E:/FinalAss_2/Version_final/scss/sang.scss */
.navbar-nav {
  color: white; }

/* line 58, E:/FinalAss_2/Version_final/scss/sang.scss */
hr {
  color: black;
  border: solid 1px gray; }

/* line 62, E:/FinalAss_2/Version_final/scss/sang.scss */
h1 {
  padding-top: 15px;
  font-size: 40px;
  font-weight: bolder; }

/* line 67, E:/FinalAss_2/Version_final/scss/sang.scss */
.filter {
  float: left;
  padding-left: 15px; }

/* line 71, E:/FinalAss_2/Version_final/scss/sang.scss */
.clear {
  clear: both; }

/* line 74, E:/FinalAss_2/Version_final/scss/sang.scss */
.product {
  padding-top: 25px;
  clear: both; }

/* line 78, E:/FinalAss_2/Version_final/scss/sang.scss */
.ads {
  padding-top: 3px;
  clear: both; }

/* line 82, E:/FinalAss_2/Version_final/scss/sang.scss */
.paging {
  float: right; }

/* line 85, E:/FinalAss_2/Version_final/scss/sang.scss */
input[type='text'] {
  color: black;
  font-style: italic; }

/* line 89, E:/FinalAss_2/Version_final/scss/sang.scss */
.font-awe {
  font-size: 30px;
  text-align: left; }

/* line 93, E:/FinalAss_2/Version_final/scss/sang.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* line 101, E:/FinalAss_2/Version_final/scss/sang.scss */
.cart {
  font-size: 15px; }

/* line 104, E:/FinalAss_2/Version_final/scss/sang.scss */
.img-responsive {
  height: 350px;
  max-height: 350px; }

/* line 108, E:/FinalAss_2/Version_final/scss/sang.scss */
.bag {
  color: white;
  font-size: 15px; }
  /* line 111, E:/FinalAss_2/Version_final/scss/sang.scss */
  .bag:hover {
    color: #b2e7fa; }

/* line 115, E:/FinalAss_2/Version_final/scss/sang.scss */
.img-footer {
  clear: both;
  float: left;
  width: 300px;
  height: 50px;
  padding-left: 0; }

/* line 122, E:/FinalAss_2/Version_final/scss/sang.scss */
.total-price {
  text-align: left;
  font-weight: bold;
  margin-top: 10px; }

/* line 127, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-search {
  color: white;
  font-size: 20px; }

/* line 131, E:/FinalAss_2/Version_final/scss/sang.scss */
.ico-home {
  font-size: 20px; }

/* line 134, E:/FinalAss_2/Version_final/scss/sang.scss */
#table {
  text-align: center;
  padding-left: 0; }
  /* line 137, E:/FinalAss_2/Version_final/scss/sang.scss */
  #table td {
    padding-bottom: 5px;
    border: 2px solid gray;
    text-align: center;
    padding-top: 1px; }
  /* line 143, E:/FinalAss_2/Version_final/scss/sang.scss */
  #table th {
    border: 2px solid gray;
    text-align: center;
    background-color: #c3c3c3; }

/* line 149, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-4 {
  padding: 5px; }
  /* line 151, E:/FinalAss_2/Version_final/scss/sang.scss */
  .col-md-4 > p {
    text-align: justify; }

/* line 155, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-8 {
  padding: 5px; }

/* line 158, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-12 {
  padding: 5px; }

/* line 161, E:/FinalAss_2/Version_final/scss/sang.scss */
.logo {
  width: 300px;
  height: 80px; }

/* line 165, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-icon {
  width: 30px;
  height: 30px; }

/* line 169, E:/FinalAss_2/Version_final/scss/sang.scss */
.your-cart {
  margin-left: 15px; }

/* line 173, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-5 .infor-user {
  border: 2px solid gray;
  padding-right: 10px;
  padding-left: 10px; }

/* line 178, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-5 h5 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px; }

/* line 183, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-md-5 .regist {
  text-align: left;
  font-size: 13px; }

/* line 188, E:/FinalAss_2/Version_final/scss/sang.scss */
.form-control {
  font-size: 13px; }

/* line 191, E:/FinalAss_2/Version_final/scss/sang.scss */
.confirm {
  text-align: left;
  font-weight: normal; }

/* line 195, E:/FinalAss_2/Version_final/scss/sang.scss */
.btn {
  background-color: #c3c3c3;
  color: gray;
  font-weight: bold;
  margin-bottom: 50px;
  float: right;
  margin-right: 10px; }
  /* line 202, E:/FinalAss_2/Version_final/scss/sang.scss */
  .btn:hover {
    background-color: red;
    color: white;
    font-weight: bold; }

/* line 208, E:/FinalAss_2/Version_final/scss/sang.scss */
.navbar-form {
  display: none; }

/* line 211, E:/FinalAss_2/Version_final/scss/sang.scss */
.ico-cart {
  color: black; }
  /* line 213, E:/FinalAss_2/Version_final/scss/sang.scss */
  .ico-cart:hover {
    color: deepskyblue; }

/* line 217, E:/FinalAss_2/Version_final/scss/sang.scss */
.pro-detail {
  text-align: left;
  font-weight: bold; }

/* line 221, E:/FinalAss_2/Version_final/scss/sang.scss */
.table-detail {
  border: 0;
  padding-left: 0; }
  /* line 224, E:/FinalAss_2/Version_final/scss/sang.scss */
  .table-detail th {
    font-size: 12px; }

/* line 228, E:/FinalAss_2/Version_final/scss/sang.scss */
.btn-add {
  float: left;
  text-align: center;
  font-size: 60px; }

@media (max-width: 740px) {
  /* line 234, E:/FinalAss_2/Version_final/scss/sang.scss */
  .carousel-caption {
    display: none; }
  /* line 237, E:/FinalAss_2/Version_final/scss/sang.scss */
  .filter {
    float: inherit; }
  /* line 240, E:/FinalAss_2/Version_final/scss/sang.scss */
  .search-hide {
    display: none;
    float: left; }
  /* line 244, E:/FinalAss_2/Version_final/scss/sang.scss */
  .img-responsive {
    height: 300px;
    max-height: 300px; }
  /* line 248, E:/FinalAss_2/Version_final/scss/sang.scss */
  .product {
    padding-top: 0; }
  /* line 251, E:/FinalAss_2/Version_final/scss/sang.scss */
  .navbar-form {
    display: block; }
  /* line 254, E:/FinalAss_2/Version_final/scss/sang.scss */
  .font-awe {
    text-align: center; }
  /* line 257, E:/FinalAss_2/Version_final/scss/sang.scss */
  .table-detail {
    width: 100%; }
  /* line 260, E:/FinalAss_2/Version_final/scss/sang.scss */
  .pro-detail-content {
    text-align: center; }
  /* line 263, E:/FinalAss_2/Version_final/scss/sang.scss */
  .display-none {
    display: none; }
  /* line 266, E:/FinalAss_2/Version_final/scss/sang.scss */
  .col-sm-8 p {
    display: none; }
  /* line 269, E:/FinalAss_2/Version_final/scss/sang.scss */
  footer h4 {
    text-align: center; } }

/* line 273, E:/FinalAss_2/Version_final/scss/sang.scss */
.pro-detail-img img {
  width: 80%;
  height: 80%;
  margin-bottom: 50px;
  margin-top: 20px; }

/* line 279, E:/FinalAss_2/Version_final/scss/sang.scss */
.dropdown-menu li {
  padding-top: 10px; }

/* line 282, E:/FinalAss_2/Version_final/scss/sang.scss */
.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
  max-height: 400px; }

/* line 288, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-facebook-square:hover {
  color: #49659f; }

/* line 291, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-twitter-square:hover {
  color: #63a3d2; }

/* line 294, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-instagram:hover {
  color: #704500; }

/* line 297, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-youtube-square:hover {
  color: #e62117; }

/* line 300, E:/FinalAss_2/Version_final/scss/sang.scss */
.dropdown:hover .dropdown-content {
  display: block; }

/* line 303, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-sm-3 h5 {
  font-weight: bold; }

/* line 306, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-sm-4 p {
  font-family: Iskoola Pota;
  font-size: 25px;
  font-style: italic; }

/* line 311, E:/FinalAss_2/Version_final/scss/sang.scss */
.col-sm-8 p {
  text-align: center;
  padding: 100px;
  font-size: 18px; }

/* line 316, E:/FinalAss_2/Version_final/scss/sang.scss */
.fa-times:hover {
  color: red;
  font-size: 15px;
  text-align: center; }

/*# sourceMappingURL=sang.css.map */