footer {
    background-color: #c3c3c3;
    padding: 25px;
}
footer h4 {
    text-align: left;
    font-weight: bold;
}
footer p {
    font-size: 12px;
    text-align: left;
}
footer h2 {
    float: left;
    font-weight: bold;
}
td {
    font-size: 12px;
    text-align: left;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-toggle {
    float: left;
}
.navbar-right {
    color: white;
    padding-top: 15px;
}
.navbar-right div {
    padding-right: 20px;
}
.navbar-nav {
    color: white;
}
hr {
    color: black;
    border: solid 1px gray;
}
h1 {
    padding-top: 15px;
    font-size: 40px;
    font-weight: bolder;
}
.filter {
    float: left;
    padding-left: 15px;
}
.clear {
    clear: both;
}
.product {
    padding-top: 25px;
    clear: both;
}
.ads {
    padding-top: 3px;
    clear: both;
}
.paging {
    float: right;
}
input[type='text'] {
    color: black;
    font-style: italic;
}
.font-awe {
    font-size: 30px;
    text-align: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cart {
    font-size: 15px;
}
.img-responsive {
    height: 350px;
    max-height: 350px;
}
.bag {
    color: white;
    font-size: 15px;
}
.bag:hover {
    color: #b2e7fa;
}
.img-footer {
    clear: both;
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 0;
}
.total-price {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}
.fa-search {
    color: white;
    font-size: 20px;
}
.ico-home {
    font-size: 20px;
}
#table {
    text-align: center;
    padding-left: 0;
}
#table td {
    padding-bottom: 5px;
    border: 2px solid gray;
    text-align: center;
    padding-top: 1px;
}
#table th {
    border: 2px solid gray;
    text-align: center;
    background-color: #c3c3c3;
}
.col-md-4 {
    padding: 5px;
}
.col-md-4 > p {
    text-align: justify;
}
.col-md-8 {
    padding: 5px;
}
.col-md-12 {
    padding: 5px;
}
.logo {
    width: 300px;
    height: 80px;
}
.fa-icon {
    width: 30px;
    height: 30px;
}
.your-cart {
    margin-left: 15px;
}
.col-md-5 .infor-user {
    border: 2px solid gray;
    padding-right: 10px;
    padding-left: 10px;
}
.col-md-5 h5 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 50px;
}
.col-md-5 .regist {
    text-align: left;
    font-size: 13px;
}
.form-control {
    font-size: 13px;
}
.confirm {
    text-align: left;
    font-weight: normal;
}
.btn {
    background-color: #c3c3c3;
    color: gray;
    font-weight: bold;
    margin-bottom: 50px;
    float: right;
    margin-right: 10px;
}
.btn:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}

.navbar-form {
    display: none;
}
.ico-cart {
    color: black;
}
.ico-cart:hover {
    color: deepskyblue;
}

.pro-detail{
    text-align: left;   
    font-weight: bold;
}

.pro-detail-img img{
    width: 80%; 
    height:80%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.table-detail{
    border: 0;
    padding-left: 0;
}
.table-detail th,td{
    font-size: 12px;
}
.btn-add{
    float: left;
    text-align: center;
    font-size: 60px;
}
@media (max-width: 740px) {
    .carousel-caption {
        display: none;
    }
    .filter {
        float: inherit;
    }
    .search-hide {
        display: none;
        float: left;
    }
    .img-responsive {
        height: 300px;
        max-height: 300px;
    }
    .product {
        padding-top: 0;
    }
    .navbar-form {
        display: block;
    }
    .col-sm-8 p {
        display: none;
    }
    footer h4 {
        text-align: center;
    }
    .font-awe{
        text-align: center;
    }
    .table-detail{
        width: 100%;
    }
    .pro-detail-content{
        text-align: center;
        
    }
    .display-none{
        display: none;
    }
}
.dropdown-menu li {
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 200px;
    max-height: 400px;
}
.fa-facebook-square:hover {
    color: #49659f;
}
.fa-twitter-square:hover {
    color: #63a3d2;
}
.fa-instagram:hover {
    color: #704500;
}
.fa-youtube-square:hover {
    color: #e62117;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.col-sm-3 h5 {
    font-weight: bold;
}
.col-sm-4 p {
    font-family: Iskoola Pota;
    font-size: 25px;
    font-style: italic;
}
.col-sm-8 p {
    text-align: center;
    padding: 100px;
    font-size: 18px;
}
.fa-times:hover {
    color: red;
    font-size: 15px;
    text-align: center;
}