<div class="container text-center" >
            <h1>YOUR CART</h1>
            <br>
            <hr />
            <div class="row container">
                <div class="col-md-7 table-responsive">
                    <table class="table table-striped" style="width: 100%;" id="table">
                        <tr>
                            <th>Item No.</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Total ($)</th>
                            <th>Remove</th>
                        </tr>
                        <tr ng-repeat="item in shopcart">
                            <td>{{item.code}}</td>
                            <td><a  ui-sref="detail({code: item.code})">{{item.name}}</a></td>
                            <td>
                                <select ng-model="choose">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td>{{choose*item.price}}$</td>
                            <td><i style="cursor: pointer" class="fa fa-times" ng-click="delProductItem(item)"></i></td>
                        </tr>                        
                    </table>
                    <div class="total-price">
                        <p>Total($): {{pricepro}}$</p>
                    </div>
                </div>
                <div class="col-md-5">
                   <div class="infor-user">
                       <h5>YOUR INFORMATION</h5><br />
                    <div class="form-horizontal regist" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtFirstName">First Name:</label>
                            <div class="col-md-9">
                                <input id="txtFirstName" class="form-control" type="text" placeholder="First Name" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtLastName">Last Name:</label>
                            <div class="col-md-9">
                                <input id="txtLastName" class="form-control" type="text" placeholder="Last Name" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtEmail">E-mail:</label>
                            <div class="col-md-9">
                                <input id="txtEmail" class="form-control" type="email" placeholder="E-mail" data-type="email" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtAddress">Address:</label>
                            <div class="col-md-9">
                                <input id="txtAddress" class="form-control" type="text" placeholder="Address" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="txtPhone">Phone No.:</label>
                            <div class="col-md-9">
                                <input id="txtPhone" class="form-control" type="tel" placeholder="Phone Number" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn" type="submit">Confirm</button>
                            </div>
                        </div>
                    </div>
                   </div>                    
                </div>
            </div>
            <hr />
        </div>
        <br>