<div class="container text-center" >
    <h1>YOUR CART</h1>
    <br>
    <hr />
    <div class="row container">
        <div class="col-md-7 table-responsive">
            <table class="table table-striped" style="width: 100%;" id="table">
                <tr>
                    <th>Item No.</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Total ($)</th>
                    <th>Remove</th>
                </tr>
                <tr ng-repeat="item in shopcart">
                    <td>{{item.code}}</td>
                    <td><a  ui-sref="detail({code: item.code})">{{item.name}}</a></td>
                    <td>
                        <select ng-model="item.quantity"  ng-init="item.quantity = 1">
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>${{item.quantity*item.price}}.00</td>
                    <td><i style="cursor: pointer" class="fa fa-times" ng-click="delProductItem(item)"></i></td>
                </tr>                        
            </table>            
            <div class="total-price">
                <p>Total($): ${{getTotal(shopcart)}}.00</p>
            </div>
        </div>
        <div class="col-md-5">
           <div class="infor-user">
               <h5>YOUR INFORMATION</h5><br />
            <div class="form-horizontal regist" role="form" >
              <form name="myform">
                  <div class="form-group">
                    <label class="control-label col-md-3" for="txtFirstName">First Name:</label>
                    <div class="col-md-9">
                    <input id="firstname" ng-disabled="numcart==0" class="form-control" ng-model="user.first" type="text" placeholder="First Name" required>
                    <span id="firstname_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtLastName">Last Name:</label>
                    <div class="col-md-9">
                        <input id="lastname" ng-disabled="numcart==0" ng-model="user.last" class="form-control" type="text" placeholder="Last Name" required>
                        <span id="lastname_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtEmail">E-mail:</label>
                    <div class="col-md-9">
                    <input id="email" ng-model="user.email" ng-disabled="numcart==0" class="form-control" type="email" placeholder="E-mail" data-type="email" required>
                        <span id="email_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtAddress">Address:</label>
                    <div class="col-md-9">
                        <input id="address" ng-disabled="numcart==0" ng-model="user.address" class="form-control" type="text" placeholder="Address" required>
                        <span id="address_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtPhone">Phone No.:</label>
                    <div class="col-md-9">
                        <input id="phone" ng-disabled="numcart==0" ng-model="user.phone" class="form-control" type="tel" placeholder="Phone Number" required>
                        <span id="phone_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button ng-model="button" class="btn" ng-click="myform.$valid && addCartToFirebase()" ng-disabled="numcart==0">Confirm</button>
                    </div>
                </div>
              </form>               
            </div>
           </div>                    
        </div>
    </div>
    <hr />
</div>
<br>